.entry {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: flex-start;
  max-width: 7em;
  min-height: 21em;
}

.portraits-and-badges {
  //  fxLayout="row" fxLayoutAlign="space-evenly center"
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
}

.leader-data {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.name-and-badge {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: space-evenly;
  justify-content: space-evenly;
}

img {
  height: 92px;
  width: 92px;
  // border: 2px solid #ffffff;
  border-radius: 100%;
  margin: auto;
}

img.badge {
  height: 64px;
  width: 64px;
}

img.tera {
  border-radius: 0;
}

h3 {
  margin: 0;
  line-height: normal;
}

p {
  padding: 0 1em;
}

.entry {
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.details {
  padding: 0.5em;
  border-radius: 4px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.callout {
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid;
  margin-top: 0.5em;
}

.singles {
  color: #852000;
  background-color: #fdbfbf;
  border-color: #ffb8b8;
}

.doubles {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.multi {
  color: #6d540d;
  background-color: #f1db9e;
  border-color: #f8d886;
}

.special {
  color: #125e10;
  background-color: #7eeb7c;
  border-color: #86c985;
}

// @media (min-width: 400px) {
//   img {
//     border: 4px solid #ffffff;
//   }
// }

@media (min-width: 600px) {
  .name-and-badge {
    flex-direction: row;
  }
}
