<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let leader of leaderList" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img
          class="portrait"
          alt="{{ highlightLeaders ? leader.displayName : leader.badgeName }}"
          src="{{ url }}/static/{{ highlightLeaders ? 'portaits' : 'badges' }}/{{ leader.leaderId }}.png"
        />
      </mat-panel-title>
      <mat-panel-description>
        {{ highlightLeaders ? leader.displayName : leader.badgeName }}
        <mat-icon>exposure_plus_2</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img
      class="portrait"
      alt="{{ !highlightLeaders ? leader.displayName : leader.badgeName }}"
      src="{{ url }}/static/{{ !highlightLeaders ? 'portaits' : 'badges' }}/{{ leader.leaderId }}.png"
    />
    <p>{{ !highlightLeaders ? leader.displayName : leader.badgeName }}</p>
    <p>{{ leader.bio }}</p>
  </mat-expansion-panel>
</mat-accordion>
