.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-panel-description {
  margin: 0;
}

mat-expansion-panel-header {
  padding-right: 1em;
  line-height: 1em;
}

img {
  height: 92px;
  width: 92px;
  // border: 2px solid #ffffff;
  //border-radius: 100%;
  margin: auto;
}

img.highlight-image {
  height: 64px;
  width: 64px;
}

img.detail-image {
  margin-top: 0.5em;
}

.expansion-panel-detail {
  border-radius: 10px;
}

.detail {
  margin: 0.25em 0;
  display: block;
  padding: 0 0.5em;
  border-radius: 10px;
  border: 3px solid;
}

.callout {
  margin: 0.25em 0;
  display: block;
  font-weight: 700;
  padding: 0 0.5em;
  border-radius: 10px;
  border: 3px solid;
}
