<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let leader of leaderList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img
          class="highlight-image"
          alt="{{ highlightLeaders ? leader.displayName : leader.badgeName }}"
          src="{{ url }}/static/{{ highlightLeaders ? 'portraits' : 'badges' }}/{{ leader.leaderId }}.png"
        />
      </mat-panel-title>
      <mat-panel-description class="{{ this.leaderDifficulty }}" [innerHTML]="highlightLeaders ? leader.displayName : leader.badgeName">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br />
    <div class="detail {{ leaderDifficulty }}-border expansion-panel-detail">
      <img
        class="detail-image"
        alt="{{ !highlightLeaders ? leader.displayName : leader.badgeName }}"
        src="{{ url }}/static/{{ !highlightLeaders ? 'portraits' : 'badges' }}/{{ leader.leaderId }}.png"
      />
      <p [innerHTML]="!highlightLeaders ? leader.displayName : leader.badgeName"></p>
      <p>{{ leader.bio }}</p>
    </div>
    <div class="leader-formats">
      <span *ngFor="let format of leader.battleFormats" class="callout {{ format.name }}-font">
        {{ format.name.toUpperCase() }}
      </span>
    </div>
  </mat-expansion-panel>
</mat-accordion>
