<mat-card>
  <a mat-flat-button color="primary" skipLocationChange routerLink="/home" routerLinkActive="active"
    >Take me to my trainer card</a
  ></mat-card
>
<mat-card
  ><h1>What is the Pax Pokemon League?</h1>
  <p>
    PPL is a{{ pplEvent.toLocaleLowerCase() === 'online' ? 'n online' : '' }} Pokémon League where you can battle Gym
    Leaders for prizes! In addition to Pokémon Battles, we have fun events planned during the weekend too!
  </p>
  <img id="logo" src="assets/images/ppl-logo.png"
/></mat-card>
<mat-card
  ><h2>How to play!</h2>
  <a mat-flat-button color="primary" href="https://discord.gg/paxpokemon">Join our Discord!</a>
  <a mat-flat-button color="accent" routerLink="/home" routerLinkActive="active">Register to play!</a>
  <p>
    From the webapp, you can enter/exit Gym Leader queues to battle them and earn badges! While most things will be run
    through the webapp, but make sure to keep an eye on the Discord for announcements!
  </p></mat-card
>
<mat-card
  ><h2>Prizes</h2>
  <p>
    Beat any {{ leadersToDefeat }} Gym Leaders<span *ngIf="elitesToDefeat > 0">
      followed by {{ elitesToDefeat }} Elites</span
    >
    and you can challenge the Champion! Win against the Champion and you have beaten the Pax Pokémon League
    {{ pplEvent }} {{ year }}! You can see the list of prizes here!
  </p>
  <img id="prizes" alt="prizes at this PPL Event" src="{{ prizesImage }}"
/></mat-card>
<mat-card
  ><h2>Rules</h2>
  <p>
    Pretty much all major legendaries (plus Regieleki) are banned, while most minor legendaries and paradox 'mons are
    limited. We have a couple of other rules, too! Check out the full rules image link in the menu for specifics, or
    click below for a full written list of the rules if an image is not your thing!
  </p>
  <a mat-flat-button color="primary" href="https://paxpokemonleague.net/rules/">Full Rules</a></mat-card
>
<!-- Commented for PPL West 2023 -->
<!-- <mat-card
  ><h2>Schedule</h2>
  <img alt="schedule for this PPL Event" src="{{ scheduleImage }}"
/></mat-card> -->
