<mat-card>
  <a mat-flat-button color="primary" skipLocationChange routerLink="/home" routerLinkActive="active"
    >Take me to my leader card</a
  ></mat-card
>
<mat-card
  ><h1>What is the Pax Pokemon League Online (PPLO)?</h1>
  <p>
    PPLO is an online Pokemon League where you can battle Gym Leaders for prizes! In addition to Pokemon Battles, we
    will have fun events planned during the weekend too! This event runs from July 14-July 16th 2023.
  </p>
  <img id="logo" src="assets/images/ppl-logo.png"
/></mat-card>
<mat-card
  ><h2>How to play!</h2>
  <a mat-flat-button color="primary" href="https://discord.gg/paxpokemon">Join our Discord!</a>
  <a mat-flat-button color="accent" routerLink="/home" routerLinkActive="active">Register to play!</a>
  <p>
    From the WebApp, you can enter/exit Gym Leader queues to battle them and earn badges! You will be using the WebApp,
    but make sure to keep an eye on the discord for announcements!
  </p></mat-card
>
<mat-card
  ><h2>Prizes</h2>
  <p>
    Beat any 8 Gym Leaders and you can challenge the Champion! Win against the champion and you have beaten the Pax
    Pokemon League Online 2023! You can see the list of prizes here!
  </p>
  <img id="prizes" alt="prizes at this PPL Event" src="{{ prizesImage }}"
/></mat-card>
<mat-card
  ><h2>Rules</h2>
  <p>
    Pretty much all major legendaries(+Regieleki) are banned, while most minor legends and paradox mons are limited. We
    have a couple of other rules, too! Check out the full rules link image in the menu for specifics, or go
  </p>
  <a mat-flat-button color="primary" href="https://paxpokemonleague.net/rules/">HERE</a>
  <p>for a full written list of the rules if an image is not your thing!</p></mat-card
>
<mat-card
  ><h2>Schedule</h2>
  <img alt="schedule for this PPL Event" src="{{ scheduleImage }}"
/></mat-card>
