<mat-card>
  <h2>What is the Pax Pokémon League?</h2>
  <p>
    PPL is a{{ pplEvent.toLocaleLowerCase() === 'online' ? 'n online' : '' }} Pokémon League where you can battle Gym
    Leaders for prizes! In addition to Pokémon Battles, we have fun events planned during the weekend too!
  </p>
  <img src="assets/images/ppl-logo.png" />
</mat-card>
<mat-card>
  <h2>How to play!</h2>
  <a mat-flat-button color="primary" href="https://discord.gg/paxpokemon">Join our Discord!</a>

  <a mat-flat-button color="primary" skipLocationChange (click)="goToConsoleTab()">Take me to my trainer card</a>
  <a mat-flat-button color="accent" (click)="goToConsoleTab()">Register to play!</a>
  <img alt="How to challenge the PPL" src="{{ challengingImage }}" />
</mat-card>
<mat-card *ngIf="pplSettings">
  <h2>Prizes</h2>
  <p>Defeat {{ pplSettings.leagueFormat.badgesForElites }} Gym Leaders to challenge the Elites.</p>
  <p>
    Then, earn
    {{
      pplSettings.leagueFormat.badgesForChamp > 0
        ? pplSettings.leagueFormat.badgesForChamp +
          ' badge points total (badges count for 1 point and elite emblems count for ' +
          pplSettings.leagueFormat.emblemWeight +
          ' points)'
        : pplSettings.leagueFormat.emblemsForChamp + ' emblems'
    }}
    to challenge the Champion.
  </p>
  <p>
    Defeat the Champion and you've beaten the Pax Pokémon League {{ pplEvent }} {{ year }}! Check out the prizes below!
  </p>
  <img alt="prizes at this PPL Event" src="{{ prizesImage }}" />
</mat-card>
<mat-card>
  <h2>Rules</h2>
  <p>
    Pretty much all major legendaries (plus Regieleki) are banned, while most minor legendaries and paradox 'mons are
    limited. We have a couple of other rules, too! Check out the full rules tab to the right for specifics, or click
    below for a full written list of the rules if an image is not your thing!
  </p>
  <a
    mat-flat-button
    color="primary"
    href="https://paxpokemonleague.net/rules/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Full Rules
  </a>
</mat-card>
<mat-card *ngIf="pplSettings?.assets.schedule">
  <h2>Schedule</h2>
  <img alt="Schedule for this PPL Event" src="{{ pplSettings.assets.schedule }}" />
</mat-card>
