mat-toolbar {
  margin-top: 0px;
  padding: 0;
}

.mat-icon-button {
  display: block;
  width: 100%;
  text-align: left;
}

span {
  margin-right: 0.5em;
}

p {
  margin-top: 0px;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  mat-toolbar {
    overflow: visible;
  }
}
