table {
  border: 2px black;
  width: 100%;
}

td {
  word-wrap: break-word;
}

#name {
  width: 50%;
}

#battle-type {
  width: 30%;
}

#battle-menu {
  width: 20%;
}

.name-panel {
  max-width: 80px;
}

mat-menu {
  display: block;
}
