<table>
    <tr>
        <td class="panel name-panel">
            <span>{{ queue.displayName }}</span>
        </td>
        <td>
            <button class="battle-button" color="warn" [disabled]="queue.position !== 0" mat-raised-button (click)="manageChallenger()">BATTLE</button>
        </td>
        <td>
            <button class="hold-button" mat-raised-button (click)="manageChallenger()">HOLD</button>
        </td>
        <td>
            <button class="remove-button" mat-raised-button (click)="manageChallenger()">REMOVE</button>
        </td>
    </tr>
</table>