<h2 mat-dialog-title>Did the challenger win?</h2>
<mat-form-field appearance="fill">
  <mat-select [formControl]="winControl" [(value)]="win" required>
    <mat-option value="true">Yes</mat-option>
    <mat-option value="false">No</mat-option>
  </mat-select>
  <mat-error *ngIf="winControl.hasError('required')">Did they win?</mat-error>
</mat-form-field>
<h2 mat-dialog-title>Did you award the challenger a badge?</h2>
<mat-form-field appearance="fill">
  <mat-select [formControl]="badgeControl" [(value)]="badge" required>
    <mat-option value="true">Yes</mat-option>
    <mat-option value="false">No</mat-option>
  </mat-select>
  <mat-error *ngIf="badgeControl.hasError('required')">Did you award them a badge?</mat-error>
</mat-form-field>
<button mat-flat-button color="primary" (click)="onSubmitClick()" [disabled]="!winControl.valid || !badgeControl.valid">
  SUBMIT
</button>
<button mat-stroked-button (click)="onCancelClick()">CANCEL</button>
