<app-name *ngIf="person && !hideName" [person]="person"></app-name>
<mat-card *ngIf="challenger">
  <div id="badges-earned">
    <div *ngIf="isBattleFrontierFormat">
      <h2 class="left">
        Total Badge Points Earned: {{ badgePointCount()
        }}{{ pplSettings.leagueFormat.badgesForChamp > 0 ? '/' + pplSettings.leagueFormat.badgesForChamp : '' }}
        <a (click)="showBadgesForChampTooltip()">
          <mat-icon *ngIf="pplSettings.leagueFormat.badgesForChamp > 0">info</mat-icon>
        </a>
      </h2>
      <h3 class="left" *ngIf="badgeCount()">Badges Earned: {{ badgeCount() }}</h3>
      <h3 class="left" *ngIf="emblemCount()">Emblems Earned: {{ emblemCount() }}</h3>
    </div>
    <div *ngIf="!isBattleFrontierFormat">
      <h2 class="left">Badges Earned: {{ badgeCount() }}</h2>
      <h2 class="left" *ngIf="emblemCount()">Emblems Earned: {{ emblemCount() }}</h2>
    </div>
    <mat-expansion-panel *ngIf="challenger.battleStats" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Show Battle Statistics</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Wins: {{ challenger.battleStats.winCount }}</p>
      <p>Losses: {{ challenger.battleStats.lossCount }}</p>
    </mat-expansion-panel>
    <button
      mat-button
      color="primary"
      [cdkCopyToClipboard]="trainerCardLink"
      (click)="shareTrainerCard()"
      aria-label="Share Trainer Card"
    >
      <mat-icon>share</mat-icon>
      SHARE CARD
    </button>
    <app-leader-list [leaderList]="challenger.badgesEarned"></app-leader-list>
  </div>
</mat-card>
