<div *ngIf="challenger">
    <mat-card class="trainer-card">
        <h2>{{challenger.name | uppercase }}'S TRAINER CARD</h2>
        <div class="casual-badges section">
            <div class="header">
                <span class="codehack left">Casual Gym Leaders</span>
                <span class="blox right">Beat any 8 gym leaders to go on to the elite 6</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.casualLeaders" [ngClass]="{'unearned': leader.badgeWon === 0}" class="casual leader-row">
                    <app-leader-row [leader]="leader"></app-leader-row>
                </div>
            </div>
        </div>
        <div class="veteran-badges section">
            <div class="header">
                <span class="codehack left">Veteran Gym Leaders</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.veteranLeaders" [ngClass]="{'unearned': leader.badgeWon === 0}" class="veteran leader-row">
                    <app-leader-row [leader]="leader"></app-leader-row>
                </div>
            </div>
        </div>
        <div class="elites section">
            <div class="header">
                <span class="codehack left">Elite 6</span>
                <span class="blox right">Beat any 4 elites to go on to the champion</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.elites" [ngClass]="{'unearned': leader.badgeWon === 0}" class="elite leader-row">
                    <app-leader-row [leader]="leader"></app-leader-row>
                </div>
            </div>
        </div>
        <div class="champions section">
            <div class="header">
                <span class="codehack left">Champions</span>
                <span class="blox right">Defeat the champion to enter the ppl online hall of fame</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.champions" [ngClass]="{'unearned': leader.badgeWon === 0}" class="champion leader-row">
                    <app-leader-row [leader]="leader"></app-leader-row>
                </div>
            </div>
        </div>
    </mat-card>
    <br>
    <a id="challengers" mat-raised-button color="primary" href="/online">Back to Challengers</a>
</div>
<br>
<app-challengers *ngIf="!challenger"></app-challengers>

