<h2>Please scan card</h2>
<zxing-scanner
  [enable]="scannerEnabled"
  [torch]="torchEnabled"
  [device]="deviceCurrent"
  (deviceChange)="onDeviceChange($event)"
  (scanSuccess)="onCodeResult($event)"
  [formats]="formatsEnabled"
  [tryHarder]="tryHarder"
  (permissionResponse)="onHasPermission($event)"
  (camerasFound)="onCamerasFound($event)"
  (torchCompatible)="onTorchCompatible($event)"
></zxing-scanner>

<!-- For camera -->
<!-- <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode> -->

<!-- data  -->
<!-- <span>{{ action.data.value | json }}</span -->
><!-- value -->
<!-- <span>{{ action.data | async | json }}</span -->
><!-- async -->

<!-- Loading -->
<!-- <p *ngIf="action.isLoading">⌛ Loading...</p> -->

<!-- start -->
<!-- <button (click)="action.isStart ? action.stop() : action.start()">{{ action.isStart ? 'Stop' : 'Start' }}</button> -->

<section class="results" *ngIf="qrResultString">
  <div>
    <small>Result</small>
    <strong>{{ qrResultString }}</strong>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>
