<h2 class="title-font">Please scan card</h2>
<!-- <qr-scanner
    [debug]="true"
    [canvasWidth]="300"
    [canvasHeight]="300"
    [stopAfterScan]="true"
    [updateTime]="500">
</qr-scanner> -->
<zxing-scanner [enable]="scannerEnabled" [torch]="torchEnabled" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
</section>