<div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-evenly space-evenly" class="entry background-primary">
  <div *ngIf="leader.bio" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div *ngIf="!leader.champion">
      <img class="badge" alt="{{ leader.displayName }}" src="assets/images/badges/{{ leader.leaderId }}.png" />
    </div>
    <div>
      <img class="portrait" alt="{{ leader.displayName }}" src="assets/images/portraits/{{ leader.leaderId }}.png" />
    </div>
    <div *ngIf="!leader.champion">
      <img class="badge" alt="{{ leader.displayName }}" src="assets/images/teras/{{ leader.leaderId }}.png" />
    </div>
  </div>
  <div *ngIf="!leader.bio" fxLayout="row" fxLayoutGap="4em" fxLayoutAlign="space-evenly space-evenly space-evenly">
    <div>
      <img class="portrait" alt="{{ leader.displayName }}" src="assets/images/portraits/{{ leader.leaderId }}.png" />
    </div>
    <div *ngIf="!leader.champion">
      <img class="badge" alt="{{ leader.displayName }}" src="assets/images/badges/{{ leader.leaderId }}.png" />
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-evenly space-evenly">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutAlign="space-evenly space-evenly">
      <h3>{{ leader.displayName }}</h3>
      <h3 *ngIf="!leader.champion">{{ leader.badgeName }}</h3>
    </div>
    <div *ngIf="leader.bio" class="details background-accent" fxLayout="column" fxLayoutGap="1em">
      <p [innerHTML]="leader.bio"></p>
      <p [innerHTML]="leader.tagline"></p>
    </div>
  </div>
</div>
