<mat-card>
  <div id="queues-entered">
    <h2 class="left">Queues Entered</h2>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>More info</mat-panel-title>
      </mat-expansion-panel-header>
      <span>
        Visit the Trainer Card (<mat-icon>chrome_reader_mode</mat-icon>) below to
        {{ useQR ? 'learn more about the leaders' : 'add yourself to an open queue' }}!
      </span>
      <div id="qr-section" *ngIf="useQR">
        <p id="queue-help">Scan a leader's QR code to add yourself to their queue.</p>
        <p id="queue-help">Or ask a leader to scan your QR code (below).</p>
        <p id="queue-help">Or ask a leader to add you to their queue.</p>
      </div>
    </mat-expansion-panel>
    <button *ngIf="!useQR" mat-button class="menu-button" (click)="openHelp()">
      <mat-icon>help</mat-icon>
    </button>
    <app-challenger-queue-list [queues]="challenger.queuesEntered"></app-challenger-queue-list>
  </div>
</mat-card>
<app-trainer-card [challenger]="challenger"></app-trainer-card>
<app-qr-code  *ngIf="useQR && challenger.id" [isLeader]="false" [id]="challenger.id"></app-qr-code>
<app-qr-enqueue [inputChallengerId]="challenger.id"></app-qr-enqueue>
