mat-card {
  width: 85%;
}

.panel {
  font-size: 1em;
  font-weight: 700;
}

.image-panel {
  padding: 0.5em;
}

.position-panel > span {
  display: block;
}

.edit-name {
  display: block;
}

.save-name {
  display: none;
}

.mat-icon {
  margin: 0;
}
