<div *ngIf="challenger && !seenBingo" id="bingo-banner">
  <br>
  <button mat-flat-button color="accent" (click)="goToBingoTab()">Hey Champ-in-the-making! We have a Bingo side game!</button>
</div>
<app-name
  [person]="person"
  [leader]="leader"
  [challenger]="challenger"
  [feedbackSurveyUrl]="feedbackSurveyUrl"
  [championSurveyUrl]="championSurveyUrl"
></app-name>

<app-leader-console *ngIf="leader" [leader]="leader"></app-leader-console>
<app-challenger-console *ngIf="challenger" [challenger]="challenger"></app-challenger-console>
