.bingo-space {
  display: inline-block;
  border: 4px solid black;
  position: relative;
  margin: -2px;
}

.bingo {
  height: 48px;
  width: 48px;
  padding: 3px 3px 0 3px;
}

.earned-pokeball {
  position: absolute;
  bottom: 3px;
  right: 0;
  opacity: 0.5;
}

.external-graphic {
  width: 100%;
}

#how-to {
  padding: 1em;
}

.shadow-primary {
  line-height: 1em;
}

@media (min-width: 600px) {
  .bingo {
    height: 100px;
    width: 100px;
  }
}
