<mat-card>
  <h1 class="shadow-primary">{{ title }}</h1>
  <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-evenly space-evenly" class="bingo-row">
    <div
      *ngFor="let row of bingoBoard"
      fxLayout="row"
      fxLayoutGap="0.5em"
      fxLayoutAlign="space-evenly space-evenly"
      class="bingo-row"
    >
      <div *ngFor="let column of row" class="bingo-space">
        <img class="bingo tera-pokemon" alt="{{ column.id }}" src="{{ url }}/static/bingo/{{ column.id }}.png" />
        <img
          *ngIf="column.earned"
          class="bingo earned-pokeball"
          alt="{{ column.id }}"
          src="assets/images/teras/pokeball.png"
        />
      </div>
    </div>
  </div>
  <br />
  <div id="how-to" class="background-primary">
    <p>How it works:</p>
    <span
      >Each time you battle a gym leader, win or lose you will automatically catch their Signature Pokémon on your bingo
      card. Successfully capture {{ bingoBoard[0].length }} in a row to complete a bingo and win a prize!</span
    >
  </div>
</mat-card>
