.bingo-space {
  display: inline-block;
  border: 4px solid black;
  position: relative;
  margin: -2px;
  max-width: 17%;
}

.bingo {
  width: 100%;
  height: auto;
  padding: 3px 3px 0 0;
  margin-bottom: -3px;
}

.earned-pokeball {
  position: absolute;
  bottom: 6px;
  right: -3px;
  opacity: 0.5;
}

.external-graphic {
  width: 100%;
}

#how-to {
  padding: 1em;
}

.shadow-primary {
  line-height: 1em;
}

// @media (min-width: 600px) {
//   .bingo {
//     height: 100px;
//     width: 100px;
//   }
// }
