/* AppComponent's private CSS styles */

app-home {
  height: 100vh;
  padding-top: 56px;
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  app-home {
    padding-top: 64px;
  }
}
