<mat-form-field appearance="fill" style="width: 200px">
  <mat-label>Add Challenger</mat-label>
  <input
    matInput
    [formControl]="myControl"
    id="search-box"
    placeholder="Challenger's Name"
    [(ngModel)]="searchValue"
    [matAutocomplete]="auto"
  />
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let challenger of filteredChallengers | async" [value]="challenger.displayName | uppercase">{{
    challenger.displayName | uppercase
  }}</mat-option></mat-autocomplete
>

<mat-form-field>
  <mat-label>Select a battle format</mat-label>
  <mat-select [(value)]="selectedFormat">
    <mat-option *ngFor="let battleFormat of leader.battleFormats" value="{{ battleFormat.id }}">{{
      battleFormat.name.toUpperCase()
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Select a difficulty</mat-label>
  <mat-select [(value)]="selectedDifficulty">
    <mat-option *ngFor="let leaderType of leader.leaderTypes" value="{{ leaderType.id }}">{{
      leaderType.name.toUpperCase()
    }}</mat-option>
  </mat-select>
</mat-form-field>
<br />
<button mat-flat-button color="primary" (click)="enqueueQR()">
  <mat-icon>qr_code</mat-icon>
</button>
<button mat-flat-button color="primary" (click)="enqueue()">ADD TO QUEUE</button>
