<mat-form-field appearance="fill" style="width: 200px">
  <mat-label>Add Challenger</mat-label>
  <input
    matInput
    [formControl]="myControl"
    id="search-box"
    placeholder="Challenger's Name"
    [(ngModel)]="searchValue"
    [matAutocomplete]="auto"
  />
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let challenger of filteredChallengers | async" [value]="challenger.displayName | uppercase">{{
    challenger.displayName | uppercase
  }}</mat-option></mat-autocomplete
>
<br />
<button mat-flat-button color="primary" (click)="enqueueQR()">
  <mat-icon>qr_code</mat-icon>
</button>
<button mat-flat-button color="primary" (click)="enqueue()">Add to Queue</button>
