<mat-card>
  <h2 *ngIf="person">
    {{ person.displayName.toUpperCase() }}'S TRAINER CARD<button
      *ngIf="challenger"
      mat-icon-button
      (click)="editName()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </h2>

  <div *ngIf="leader" id="leader-record">
    <table id="record-table">
      <tr>
        <td>
          <h3>Wins</h3>
        </td>
        <td>
          <h3>Losses</h3>
        </td>
        <td>
          <h3>Awarded</h3>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ leader.wins }}</span>
        </td>
        <td>
          <span>{{ leader.losses }}</span>
        </td>
        <td>
          <span>{{ leader.badgesAwarded }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="pplSettings?.showSurveyBanner" class="survey-container">
    <mat-divider></mat-divider>
    <h4>Thanks for participating!</h4>

    <a mat-button color="primary" href="{{ isLeader ? pplSettings?.leaderFeedbackSurveyUrl : pplSettings.challengerFeedbackSurveyUrl }}">Let us know what you thought</a>
  </div>
  <div *ngIf="championSurveyUrl" class="survey-container" (ngInit)="shootConfetti()">
    <mat-divider></mat-divider>
    <h4>Congrats Champion!</h4>
    <a mat-button color="primary" href="{{ championSurveyUrl }}">
      <mat-icon class="star-icon">star</mat-icon>Submit your team to the<br/>Hall of Fame<mat-icon class="star-icon" iconPositionEnd>star</mat-icon></a
    >
  </div>
</mat-card>
