button {
  margin-bottom: 1em;
}
mat-divider {
  margin-bottom: 1em;
}

#record-table {
  margin: auto;
}

#record-table > * > td {
  width: 30%;
}

.edit-name {
  display: block;
}

.save-name {
  display: none;
}
