button {
  margin-bottom: 1em;
}
mat-divider {
  margin-bottom: 1em;
}

#record-table {
  margin: auto;
}

#record-table > * > td {
  width: 30%;
}

.edit-name {
  display: block;
}

.save-name {
  display: none;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
