<table>
  <tr>
    <td id="name" class="panel name-panel">
      <span>{{ hold.displayName.toUpperCase() }}</span>
    </td>
    <td id="hold-menu">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="unhold-button" color="primary" (click)="unholdFront(hold.challengerId)">
          <mat-icon>first_page</mat-icon>FRONT
        </button>
        <button mat-menu-item class="unhold-button" color="primary" (click)="unholdBack(hold.challengerId)">
          <mat-icon>last_page</mat-icon>BACK
        </button>
      </mat-menu>
    </td>
  </tr>
</table>
