<mat-card>
  <div id="leader-queue">
    <h3>Queue</h3>
    <div *ngIf="leader.queue[0]">
      <span id="queue-help">Your battle code is: </span><span id="battle-code">{{ leader.queue[0]?.battleCode }}</span>
    </div>
    <br />
    <div *ngFor="let challenger of leader.queue" class="queue-container">
      <app-leader-queue-item [leaderId]="leader.id" [queue]="challenger"></app-leader-queue-item>
    </div>
  </div>
</mat-card>
<mat-card>
  <h3>Add Challengers to your queue</h3>
  <app-queue-mgmt [leader]="leader"></app-queue-mgmt>
  <app-camera *ngIf="showCamera" [leaderId]="leader.id"></app-camera>
  <app-challenger-search [leader]="leader" (enqueueQR)="enqueueQR()"></app-challenger-search>
</mat-card>
<mat-card *ngIf="leader.onHold.length > 0">
  <div id="leader-onHold">
    <h3>On Hold</h3>
    <div *ngFor="let challenger of leader.onHold" class="hold-container">
      <app-leader-hold-item [leaderId]="leader.id" [hold]="challenger"></app-leader-hold-item>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="useQR">
  <h2>Leader QR Code</h2>
  <qrcode
    [qrdata]="myAngularxQrCode"
    [imageSrc]="url + '/static/badges/' + leader.leaderId + '.png'"
    [imageHeight]="75"
    [imageWidth]="75"
    [width]="300"
    [errorCorrectionLevel]="'M'"
  ></qrcode>
</mat-card>
