
<table>
    <tr>
        <td class="panel image-panel">
            <img class="badge"
                    alt="{{ badge.displayName }}"
                    src="assets/images/portraits/{{ badge.leaderId }}.png" />
        </td>
        <td class="panel image-panel">
            <img class="badge"
                    alt="{{ badge.displayName }}"
                    src="assets/images/badges/{{ badge.leaderId }}.png" />
        </td>
    </tr>
    <tr>
        <td class="panel name-panel">
            <span>{{ badge.leaderName }}</span>
        </td>
        <td class="panel name-panel">
            <span>{{ badge.displayName }}</span>
        </td>
    </tr>
</table>