<!-- This toolbar is a spacer -->
<mat-toolbar color="primary"></mat-toolbar>
<!-- <a
  mat-button
  color="primary"
  routerLink="/home"
  skipLocationChange
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
  (click)="closeSidenav()"
>
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<a
  *ngIf="pplSettings?.showTrainerCard"
  mat-button
  color="primary"
  skipLocationChange
  routerLink="/about"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
  (click)="closeSidenav()"
>
  <mat-icon>chrome_reader_mode</mat-icon>
  <span>Trainer Card</span>
</a> -->
<!-- <a
  *ngIf="pplSettings?.howToChallenge"
  mat-button
  color="primary"
  skipLocationChange
  routerLink="/howto"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
  (click)="closeSidenav()"
>
  <mat-icon>videogame_asset</mat-icon>
  <span>How to Challenge</span>
</a> -->
<button *ngIf="pplSettings?.rules" mat-button color="primary" (click)="openRules()" aria-label="PPL Rules">
  <mat-icon>description</mat-icon>
  <span>PPL Rules</span>
</button>
<button *ngIf="pplSettings?.prizePools" mat-button color="primary" (click)="openPrizes()" aria-label="Prize Pools">
  <mat-icon>stars</mat-icon>
  <span>Activities and Prizes</span>
</button>
<button *ngIf="pplSettings?.map" mat-button color="primary" (click)="openMap()" aria-label="Map">
  <mat-icon>map</mat-icon>
  <span>Location</span>
</button>
<!-- <a
  *ngIf="pplSettings?.bingoBoard"
  mat-button
  color="primary"
  skipLocationChange
  routerLink="/bingo"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
  (click)="closeSidenav()"
>
  <mat-icon>grid_on</mat-icon>
  <span>Bingo Board</span>
</a> -->
<!-- <a https://discord.gg/ZGBxdVb -->
<!-- <button mat-button color="primary" (click)="logout()" aria-label="Logout">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</button> -->
