button,
a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;

  mat-icon {
    margin-right: 8px;
  }
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

// button,
// a {
//   // display: block;
//   // width: 10em !important;
// }
