<app-name *ngIf="person && !hideName" [person]="person"></app-name>
<mat-card *ngIf="challenger">
  <div id="badges-earned">
    <h2 class="left">Badges Earned</h2>
    <button
      mat-button
      color="primary"
      [cdkCopyToClipboard]="trainerCardLink"
      (click)="shareTrainerCard()"
      aria-label="Share Trainer Card"
    >
      <mat-icon>share</mat-icon>
      SHARE CARD
    </button>
    <app-leader-list [leaderList]="challenger.badgesEarned"></app-leader-list>
  </div>
</mat-card>
