<mat-tab-group class="home-container" backgroundColor="primary" headerPosition="below" dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>home</mat-icon></ng-template>
    <app-auth id="tab-container" id="login-register-form" *ngIf="showLogin && !challengerId"></app-auth>
    <app-console id="tab-container" *ngIf="!showLogin && !challengerId"></app-console>
    <app-trainer-card id="tab-container" *ngIf="challengerId"></app-trainer-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>chrome_reader_mode</mat-icon></ng-template>
    <app-about-leaders id="tab-container"></app-about-leaders>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>videogame_asset</mat-icon></ng-template>
    <app-how-to id="tab-container"></app-how-to>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.bingoBoard && !isLeader" disabled="{{ !loginId }}">
    <ng-template mat-tab-label><mat-icon>grid_on</mat-icon></ng-template>
    <app-bingo-board id="tab-container" *ngIf="loginId && !isLeader"></app-bingo-board>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.rules">
    <ng-template mat-tab-label><mat-icon>description</mat-icon></ng-template>
    <app-static-image id="tab-container" [image]="'rules'"></app-static-image>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.prizePools">
    <ng-template mat-tab-label><mat-icon>stars</mat-icon></ng-template>
    <app-static-image id="tab-container" [image]="'prizes'"></app-static-image>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.map">
    <ng-template mat-tab-label><mat-icon>map</mat-icon></ng-template>
    <app-static-image id="tab-container" [image]="'map'"></app-static-image>
  </mat-tab>
</mat-tab-group>
