<mat-tab-group
  #tabGroup="matTabGroup"
  class="home-container"
  backgroundColor="primary"
  headerPosition="below"
  dynamicHeight
>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>home</mat-icon></ng-template>
    <app-meetup-times></app-meetup-times>
    <app-auth
      class="tab-container"
      id="login-register-form"
      *ngIf="showLogin && !challengerId"
      [tabGroup]="tabGroup"
    ></app-auth>
    <app-console class="tab-container" *ngIf="!showLogin && !challengerId" [reloadConsole]="reloadConsole" [tabGroup]="tabGroup"></app-console>
    <app-trainer-card class="tab-container" *ngIf="challengerId"></app-trainer-card>
  </mat-tab>
  <mat-tab disabled="{{!pplSettings?.showTrainerCard}}">
    <ng-template mat-tab-label><mat-icon>chrome_reader_mode</mat-icon></ng-template>
    <app-meetup-times></app-meetup-times>
    <app-about-leaders class="tab-container"></app-about-leaders>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>help</mat-icon></ng-template>
    <app-meetup-times></app-meetup-times>
    <app-how-to class="tab-container" [tabGroup]="tabGroup"></app-how-to>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.bingoBoard && !isLeader" disabled="{{ !loginId }}">
    <ng-template mat-tab-label><mat-icon>grid_on</mat-icon></ng-template>
    <ng-template matTabContent>
      <app-bingo-board class="tab-container" *ngIf="loginId && !isLeader" [reloadBingoBoard]="reloadBingoBoard">
      </app-bingo-board>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.assets.rules">
    <ng-template mat-tab-label><mat-icon>description</mat-icon></ng-template>
    <app-static-image class="tab-container" [imageSrcPath]="'rules'"></app-static-image>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.assets.prizePools">
    <ng-template mat-tab-label><mat-icon>stars</mat-icon></ng-template>
    <app-static-image class="tab-container" [imageSrcPath]="'prizes'"></app-static-image>
  </mat-tab>
  <mat-tab *ngIf="pplSettings?.assets.map">
    <ng-template mat-tab-label><mat-icon>map</mat-icon></ng-template>
    <app-static-image class="tab-container" [imageSrcPath]="'map'"></app-static-image>
  </mat-tab>
</mat-tab-group>
