<table>
  <tr>
    <td class="panel image-panel">
      <img class="badge" alt="{{ queue.displayName }}" src="{{ url }}/static/portraits/{{ queue.leaderId }}.png" />
    </td>
    <td *ngIf="!queue.isChampion" class="panel image-panel">
      <img class="badge" alt="{{ queue.displayName }}" src="{{ url }}/static/badges/{{ queue.leaderId }}.png" />
    </td>
    <td *ngIf="!onHold" class="panel position-panel">
      <span>Position in queue:</span>
      <span id="queue-position" class="color-primary">{{ queue.position }}</span>
      <div *ngIf="queue.position === 1" id="battle-code">
        <span id="queue-help">Your battle code is: </span><span id="battle-code">{{ queue.battleCode }}</span>
      </div>
      <button class="hold-button" mat-stroked-button (click)="hold()">HOLD</button>
      <button class="hold-button" mat-stroked-button (click)="drop()">DROP</button>
    </td>
    <td *ngIf="onHold" class="panel position-panel">
      <span>You are on</span>
      <span id="queue-position">HOLD</span>
    </td>
  </tr>
  <tr>
    <td class="panel name-panel">
      <span>{{ queue.displayName }}</span>
    </td>
    <td class="panel name-panel">
      <span>{{ queue.badgeName }}</span>
    </td>
    <td class="panel name-panel">
      <span>{{ queue.battleFormat.name.toLocaleUpperCase() }}</span>
      <br />
      <span>{{ queue.battleDifficulty.name.toLocaleUpperCase() }}</span>
    </td>
  </tr>
</table>
