<table>
  <tr>
    <td class="panel image-panel">
      <img class="badge" alt="{{ queue.displayName }}" src="assets/images/portraits/{{ queue.leaderId }}.png" />
    </td>
    <td class="panel image-panel">
      <img class="badge" alt="{{ queue.displayName }}" src="assets/images/badges/{{ queue.leaderId }}.png" />
    </td>
    <td *ngIf="!onHold" class="panel position-panel">
      <span>Position in queue:</span>
      <span id="queue-position">{{ queue.position }}</span>
    </td>
    <td *ngIf="onHold" class="panel position-panel">
      <span>You are on</span>
      <span id="queue-position">HOLD</span>
    </td>
  </tr>
  <tr>
    <td class="panel name-panel">
      <span>{{ queue.displayName }}</span>
    </td>
    <td class="panel name-panel">
      <span>{{ queue.badgeName }}</span>
    </td>
  </tr>
</table>
